
.auth-wrapper {
    min-height: 100vh;
    background-image: url('../../../assets/images/Untitled design.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    // background: linear-gradient(135deg, #d8d8d8 0%, #586e79 100%);
    
    // Overlay layer for dark effect
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        z-index: 0;
    }
}

// Auth content
.auth-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
