
.auth-wrapper {
    min-height: 100vh;
    background-image: url('../../../assets/images/cover.jpeg');
    // background-repeat: repeat;
    
    // Overlay layer for dark effect
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        z-index: 0;
    }
}

// Auth content
.auth-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
