// Form Labels
.form-label {
  color: #456882;
  font-family: "Raleway", sans-serif;
}

// Input Fields
:host ::ng-deep .p-password-input, :host ::ng-deep .p-inputtext{
  width: 100%;
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #ced4da !important;
  font-size: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(27, 60, 83, 0.46);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

:host ::ng-deep .p-password-input::placeholder, :host ::ng-deep .p-inputtext::placeholder {
  color: #9aa3b1 !important;
  font-size: 0.9rem;
}

:host ::ng-deep .p-password-input:focus, :host ::ng-deep .p-inputtext:focus {
  border-color: #173387 !important;
}

// Hide & Visible Icon
:host ::ng-deep .p-password-toggle-mask-icon {
  right: 30px;
  color: #1B3C53 !important;
  transition: color 0.3s ease;
}

:host ::ng-deep .p-password-toggle-mask-icon:hover {
  cursor: pointer;
  color: #0f2230 !important;
  transform: scale(1.2);
}

// Validation Message
.invalid-feedback{
  font-size: 0.85rem;    
  
  p{
    margin-bottom: 0;      
  }
}

// Register Button
.btn {
  font-family: "Playfair Display", serif;
  background-color: #1B3C53;
  color: #f3f6fa;
  border: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: #0f2230;
    transform: translateY(-1px);
    box-shadow: 0 0 5px rgba(27, 60, 83, 0.46);
  }
  
  &:disabled {
    cursor: not-allowed;
    pointer-events: auto;
  }
}

// Auth Link(Go To Login Page)
.auth-link {
  p {
    font-family: "Poppins", sans-serif;
    color: #545454;
    font-size: 0.95rem;
  }

  a {
    font-family: "Poppins", sans-serif;
    color: #456882;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #1B3C53;
      text-decoration: underline;
    }
  }
}